# Mount Drive

In [ ]:
# Load library google drive
from google.colab import drive
drive.mount('gdrive')

root = '/content/gdrive/MyDrive/Colab Notebooks/ML Bangkit/'

Drive already mounted at gdrive; to attempt to forcibly remount, call drive.mount("gdrive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
datasets = pd.DataFrame(columns=['text', 'label'])

# Load Hotel Dataset

In [ ]:
hotel_dataset_path = 'Datasets/classes/hotel/hotel_review.csv'

In [ ]:
df = pd.read_csv(root + hotel_dataset_path, nrows=1000, encoding='ISO-8859-1')
df.head()

   S.No.                                             Review  Rating
0      1  nice hotel expensive parking got good deal sta...       4
1      2  ok nothing special charge diamond member hilto...       2
2      3  nice rooms not 4* experience hotel monaco seat...       3
3      4  unique \tgreat stay \twonderful time hotel mon...       5
4      5  great stay great stay \twent seahawk game awes...       5

In [ ]:
for text in df.Review:
  datasets.loc[len(datasets.index)] = [text, 'hotel']

# Load Restaurant Dataset

In [ ]:
restaurant_dataset_path = 'Datasets/classes/restaurant/Restaurant_Reviews.tsv'

In [ ]:
df = pd.read_csv(root + restaurant_dataset_path, sep='\t')
df.head()

                                              Review  Liked
0                           Wow... Loved this place.      1
1                                 Crust is not good.      0
2          Not tasty and the texture was just nasty.      0
3  Stopped by during the late May bank holiday of...      1
4  The selection on the menu was great and so wer...      1

In [ ]:
for text in df.Review:
  if text.strip() == '':
    print('ada')
    continue
  datasets.loc[len(datasets.index)] = [text, 'restaurant']

# Load Museum Dataset

In [ ]:
museum_dataset_path = 'Datasets/classes/museum/tripadvisor_merged.csv'

In [ ]:
df = pd.read_csv(root + museum_dataset_path)
df = df.dropna(subset=['Description'])
df.head()

,Unnamed: 0,Address,Description,FeatureCount,Fee,Langtitude,Latitude,LengthOfVisit,MuseumName,PhoneNum,...,review_pol_var,review_pol_mean,review_pol_max,review_pol_min,review_sub_var,review_sub_mean,review_sub_max,review_sub_min,descri_pol,descri_sub
0,0,"555 Pennsylvania Ave NW, Washington DC, DC 200...",Find out for yourself why everyone is calling ...,3.0,Yes,-77.019235,38.893138,2-3 hours,Newseum,+1 888-639-7386,...,0.023760,0.334677,0.611111,0.000000,0.014521,0.509036,0.754861,0.342857,0.490000,0.506667
1,4,"1000 5th Ave, New York City, NY 10028-0198",At New York City's most visited museum and att...,12.0,Yes,-73.962928,40.779165,2-3 hours,The Metropolitan Museum of Art,1 212-535-7710,...,0.018057,0.318339,0.634375,0.127083,0.018280,0.537971,0.700000,0.291667,0.318182,0.477273
2,5,"945 Magazine Street, New Orleans, LA 70130-3813","Founded by historian and author, Stephen Ambro...",11.0,NaN,-90.070086,29.943004,NaN,The National WWII Museum,+1 504-528-1944,...,0.010222,0.333493,0.500000,0.140783,0.019100,0.508205,0.804861,0.333333,0.000000,0.000000
3,6,"2001 N Colorado Blvd, Denver, CO 80205-5798",The Denver Museum of Nature & Science is the R...,0.0,NaN,-104.941020,39.769189,NaN,Denver Museum of Nature & Science,303-370-6000,...,0.022625,0.429964,0.664286,0.192262,0.014845,0.584561,0.783333,0.438095,0.100000,0.400000
4,7,"111 S Michigan Ave, Chicago, IL 60603-6488","This Classical Renaissance structure, guarded ...",5.0,Yes,-87.623724,41.879547,More than 3 hours,Art Institute of Chicago,312 443 3600,...,0.030203,0.299117,0.681333,0.125000,0.025380,0.530728,0.788333,0.266667,0.300000,0.337500

In [ ]:
for text in df.Description:
  datasets.loc[len(datasets.index)] = [text, 'museum']

# Load Temple Dataset

In [ ]:
temple_dataset_path = 'Datasets/classes/temple/temple_reviews.csv'

In [ ]:
df = pd.read_csv(root + temple_dataset_path)
df.head()

                                             caption          username
0  This is a very spiritual place. You should tak...       Ron Fiarman
1  This was by far my favorite Hindu Temple that ...   William C Brown
2  Ancient Holy Water Temple in Tampaksiring. Wel...  Ari Wekku Sääski
3  Visited this temple during the Hari Raya seaso...     Andri Wirawan
4  Temple history dated 10th Century and since th...  yunus emre demir

In [ ]:
for text in df.caption:
  datasets.loc[len(datasets.index)] = [text, 'temple']

# Load Beach Dataset

In [ ]:
beach_dataset_path = 'Datasets/classes/beach/beach_reviews.csv'

In [ ]:
df = pd.read_csv(root + beach_dataset_path)
df.head()

                                             caption          username
0  What a beautiful beach and perfect time to vis...       Piter Halim
1  Beach is relatively clean. I heard that they h...             chesa
2  Good place for relaxing time alone or with fri...  Selvianna Rafief
3  Good place for surfing. You can rent a board h...  Evgenia Sabadash
4  Nice place to relax. The restaurants are quite...    Felzworld Vlog

In [ ]:
for text in df.caption:
  datasets.loc[len(datasets.index)] = [text, 'beach']

# Load Food Dataset

In [ ]:
food_dataset_path1 = 'Datasets/classes/food/food1.xlsx'
food_dataset_path2 = ''

# Save Merged to Drive

In [ ]:
datasets = datasets.reset_index(drop=True)

In [ ]:
datasets.to_excel(root + 'Datasets/FIXED/fixed_data.xlsx', index=False)